<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 footercol">
                <ul class="social_icons clearfix">
                     {% for item  in site.social %}
                         <li><a href="{{ item.url }}"><img src="{{ theme_url }}/img/{{ item.icon }}" alt=""></a></li>
                     {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 footerlogo footercol">
                <a class="smalllogo2 logo" href="{{ base_url_absolute }}"><img src="{{ theme_url }}/img/logofooter.png" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 footercol">
                <p class="footerpriv">&copy; 2013 &bull; <a class="privacylink" href="{{ base_url_absolute }}/privacy">Privacy policy</a></p>
            </div>
        </div>
    </div>
</footer>